@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Inter', sans-serif;
}

.upper-nav, .lower-nav {
    height: 15vh;

    position: sticky;
    display: grid;
    grid-template-areas: 'first second third';
}

.lower-nav {
    right: 0;
    bottom: 0;
}

.nav-button {
    display: flex;
    justify-content: start;
    align-items: center;

    background-color: #1D1D1D;
}

.nav-button::before {
    content: '';

    width: 2%;
    height: 100%;
    transition: all 0.25s ease;
}

.home-nav:hover::before {
    background-color: #EF476F;
}

.about-nav:hover::before {
    background-color: #FFD166;
}

.features-nav:hover::before {
    background-color: #06D6A0;
}

.pricing-nav:hover::before {
    background-color: #118AB2;
}

.resources-nav:hover::before {
    background-color: #B5179E;
}

.career-nav:hover::before {
    background-color: #FF6B35;
}

.nav-button div {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    padding: 15px 50px;
}

.home-nav span:first-child, .about-nav span:first-child, .features-nav span:first-child, .pricing-nav span:first-child, .resources-nav span:first-child, .career-nav span:first-child {
    font-size: 1.5rem;
    font-weight: 600;
}

.home-nav span:first-child {
    color: #EF476F;
}

.about-nav span:first-child {
    color: #FFD166;
}

.features-nav span:first-child {
    color: #06D6A0;
}

.pricing-nav span:first-child {
    color: #118AB2;
}

.resources-nav span:first-child {
    color: #B5179E;
}

.career-nav span:first-child {
    color: #FF6B35;
}

.home-nav span:last-child a, .about-nav span:last-child a, .features-nav span:last-child a, .pricing-nav span:last-child a, .resources-nav span:last-child a, .career-nav span:last-child a{
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
    transition: all 0.25s ease;
}

.nav-button span:last-child a:hover {
    color: #616161;
}

.main-content {
    height: 70vh;
    display: flex;
    justify-content: start;
    align-items: start;

    background-color: #131D4B;
    color: #fff;
}

.main-content div:first-child {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    padding: 4rem;
    gap: 1.5rem;
}

.main-content div:first-child h1 {
    font-size: 4.875rem;
    font-weight: 600;
}

.main-content div:first-child p {
    font-size: 1rem;
    font-weight: 400;
}

.main-content div:first-child div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 1rem;
}

.main-content div:first-child button {
    padding: 8px 16px;

    background-color: transparent;
    border: solid 2px #fff;
}

.main-content div:first-child button a {
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 600;
    color: #fff;
    transition: all 0.25s ease;
}

.main-content div:first-child a:hover {
    color: #b1b1b1;
}

.main-content > div:last-child {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: start;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .upper-nav, .lower-nav {
        grid-template-areas: 'first'
                             'second'
                             'third';
    }

    .nav-button::before {
        width: 100%;
        height: 5px;
    }

    .nav-button {
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .main-content {
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .main-content div:first-child {
        width: 100%;
        height: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 4rem;
        gap: 1.5rem;
    }

    .main-content div:last-child {
        width: 100%;
        height: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 4rem;
    }
}