@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.upper-nav, .lower-nav {
    height: 15vh;
    width: 100%;

    position: fixed;
    display: grid;
    grid-template-areas: 'first second third';
}

.upper-nav {
    border-bottom: solid 1px #5B5B5B;
}

.lower-nav {
    right: 0;
    bottom: 0;

    border-top: solid 1px #5B5B5B;
}

.nav-button {
    display: flex;
    justify-content: start;
    align-items: center;

    background-color: #1D1D1D;
}

.nav-button::before {
    content: '';

    width: 2%;
    height: 100%;
    transition: all 0.25s ease;
}

.home-nav:hover::before {
    background-color: #EF476F;
}

.about-nav:hover::before {
    background-color: #FFD166;
}

.features-nav:hover::before {
    background-color: #06D6A0;
}

.pricing-nav:hover::before {
    background-color: #118AB2;
}

.resources-nav:hover::before {
    background-color: #B5179E;
}

.career-nav:hover::before {
    background-color: #FF6B35;
}

#home-nav.clicked::before {
    background-color: #EF476F;
}

#about-nav.clicked::before {
    background-color: #FFD166;
}

#features-nav.clicked::before {
    background-color: #06D6A0;
}

#pricing-nav.clicked::before {
    background-color: #118AB2;
}

#resources-nav.clicked::before {
    background-color: #B5179E;
}

#career-nav.clicked::before {
    background-color: #FF6B35;
}

.nav-button div {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    padding: 15px 50px;
}

.home-nav span:first-child, .about-nav span:first-child, .features-nav span:first-child, .pricing-nav span:first-child, .resources-nav span:first-child, .career-nav span:first-child {
    font-size: 1.5rem;
    font-weight: 600;
}

.home-nav span:first-child {
    color: #EF476F;
}

.about-nav span:first-child {
    color: #FFD166;
}

.features-nav span:first-child {
    color: #06D6A0;
}

.pricing-nav span:first-child {
    color: #118AB2;
}

.resources-nav span:first-child {
    color: #B5179E;
}

.career-nav span:first-child {
    color: #FF6B35;
}

.home-nav span:last-child a, .about-nav span:last-child a, .features-nav span:last-child a, .pricing-nav span:last-child a, .resources-nav span:last-child a, .career-nav span:last-child a{
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
    transition: all 0.25s ease;
}

.home-nav span:last-child a:active {
    color: #EF476F;
}

.about-nav span:last-child a:active {
    color: #FFD166;
}

.features-nav span:last-child a:active {
    color: #06D6A0;
}

.pricing-nav span:last-child a:active {
    color: #118AB2;
}

.resources-nav span:last-child a:active {
    color: #B5179E;
}

.career-nav span:last-child a:active {
    color: #FF6B35;
}

.nav-button span:last-child a:hover {
    color: #616161;
}

.main-content {
    height: 100vh;

    display: flex;
    justify-content: start;
    align-items: start;

    background-color: #1D1D1D;
    color: #fff;
}

.home-content div:first-child {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    padding: 4rem;
    gap: 1.5rem;
}

.home-content div:first-child h1 {
    font-size: 4.875rem;
    font-weight: 600;
}

.home-content div:first-child h1 span {
    color: #06D6A0;
}

.home-content div:first-child p {
    font-size: 1rem;
    font-weight: 400;
}

.home-content div:first-child div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 1rem;
}

.home-content div:first-child button {
    padding: 8px 16px;

    background-color: transparent;
    border: solid 2px #fff;
    transition: all 0.25s ease;
}

.home-content div:first-child button > a {
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 600;
    color: #fff;
    transition: all 0.25s ease;
}

.home-content div:first-child button:hover a, .main-content div:first-child button:hover {
    border-color: #b1b1b1;
    color: #b1b1b1;
}

.home-content > div:last-child {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: start;
    align-items: center;
}

.about-content > div:first-child {
    width: 40%;
    height: 100%;

    padding: 48px;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.about-content > div:last-child {
    width: 60%;
    height: 100%;

    padding: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

.about-content > div:last-child > h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.about-content > div:last-child > p {
  width: 80%;
  font-size: 1rem;
  font-weight: 400;
}

.about-content .stats-section {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

.about-content .stats-section p:first-child{
  font-size: 2.5rem;
  font-weight: 600;
}

.about-content .stats-section p > span {
  font-size: 1rem;
  font-weight: 400;
}

.about-content .stats-section p:last-child {
  font-size: 1rem;
  font-weight: 400;
}

.features-content > div{
    width: 33%;
    height: 100%;

    padding: 128px 64px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

.features-content > div > p:first-child {
  font-size: 2rem;
  font-weight: 600;
}

.features-content > div > div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.features-content > div > div > p {
  font-size: 1rem;
  font-weight: 400;
}

/* PRICING SECTION */

.pricing-sub-section {
  width: 33.33%;
  padding: 9rem 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pricing-sub-section > .option {
  padding: 4rem 2rem;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

.pricing-sub-section > .option > p {
  font-size: 2.5rem;
  font-weight: 600;
}

.pricing-sub-section > .option > .price {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 0.25rem;
}

.pricing-sub-section > .option > .price > p:first-child {
  font-size: 2.5rem;
  font-weight: 600;
}

.pricing-sub-section > .option > .price > p:last-child {
  font-size: 1rem;
  font-weight: 600;
}

.pricing-sub-section > .option > .details {
  padding: 1rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pricing-sub-section > .option > .details > .sub-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.pricing-sub-section > .option > .details > .sub-details > p {
  font-size: 1rem;
}

.pricing-sub-section button {
  padding: 0.5rem 2rem;

  background-color: transparent;
  border: solid 1px;
  transition: all 0.25s ease;
}

.pricing-sub-section button:hover {
  cursor: pointer;
  border-color: #b1b1b1;
  color: #b1b1b1;
}
@media screen and (max-width: 768px) {
    .upper-nav, .lower-nav {
        grid-template-areas: 'first'
                             'second'
                             'third';
    }

    .nav-button::before {
        width: 100%;
        height: 5px;
    }

    .nav-button {
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .main-content {
        height: 70vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .main-content div:first-child {
        width: 100%;
        height: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 4rem;
        gap: 1.5rem;
    }

    .main-content div:last-child {
        width: 100%;
        height: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 4rem;
    }
}
